body{
    height: auto;;
    width:aut0:
    justify-content: center;
    font-size: 16pts;
}

header{
background-color: ffffff;
height: 10%;
width: inherit;
}

footer{
    background-color: ffffff
    height:10%;
    width: inherit;
}

div{
    height:;
    width:;
}

.head{
    height
    width:
}

.foot{

}
